body {
    text-align: right;
    direction: rtl
}

.invalid-feedback,.user-list,.social-login a {
    text-align: right
}


.text-left-dir {
    text-align: left
}
.menu-grid,.shopping-img,.rev-img{
    right: 0
}


.menu-grid nav li:before,.user-list,.header-img-grid,.rate-ratio,.main-filter-form  button,.prod-stars {
    left: 0;
}

i {
    margin-left: 7px
}

.nav-icon{
    margin-left: 10px;
}

.manu-grid span{
    margin-right: -5px;
}

.menu-grid nav li:not(.menu-item-has-child){
    padding-left: 40px;
}


.menu-grid nav li:before{
    content: "\f053";
}


.menu-grid {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}


.main-search {
    margin-left: 10px;
}


.main-search .form-control{
    padding-left: 50px
}
.circle-btn i,.main-search button i{
    margin: auto
}
.circle-btn{
    margin-right: 8px;
}
.main-search button{
    left: 0;
    border-radius: 30px 0 0 30px;
}

.side-cart{
    padding-right: 10px;
}

.close-btn{
    left: 5px;
}

.cart-menu .user-list li{
    padding-left: 35px;
}


.copyrights img{
    margin-right:10px;
}
.basket-bg{
    background-position: center left
}
.reverse-basket-bg{
    background-position: center right
}

.product-div .confirm-alert,.product-show-img .confirm-alert{
    left: 10px;
}


.static-stars{
    direction: ltr
}

.owl-products .owl-stage {
    padding-right: 0 !important;
}


.owl-carousel.pos-nav .owl-nav {
    left: 15px;
}

.social-login a i{
    right:10px;
}

.social-login a{
    padding-right: 40px;
}

.breadcrumbes a:after{
    content: "/";
    padding-right:5px;
    margin-left: 5px;
}


.main-filter-form  .form-control{
    padding-left: 45px;
    padding-right: 10px
}


.custom-control-label {
    padding-right: 5px;
    margin-right: 1rem;
}


.filter-inputs .custom-control-label span {
    margin-right: 3px;
}

.custom-control-label::after {
    right: -1rem;
}


.custom-control-label::before {
    right: -1rem;
    left:0
}


.filter-div.side-filter{
    left: 15px;
}

.page-item:first-child .page-link {
    border-radius: 0;
    border-left: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-item:last-child .page-link {
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.inner-inputs  > div{
    margin-left: 5px
}

.inner-inputs {
    margin-right: 5px
}

#st_gdpr_iframe {
    left: 0 !important;
}

.product-show-text-grid p {
    padding-left: 25px;
}
.rev-name{
    padding-left: 105px;
    padding-right: 60px;
}

.rev-img{
    margin-left: 15px
}

.rev-det p{
    padding-right: 60px;

}

@media only screen and (max-width: 1200px) {}


@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
    .filter-responsive{
        left: 20px;
    }

    .filter-grid{
        left: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@media only screen and (max-width: 576px) {

    .footer-list-grid .footer-list:first-of-type ul li{
    margin-left: 5px;
    }

    .footer-list-grid .footer-list:first-of-type ul li:after{
        content: "/";
        padding-right:5px

    }

}

@media only screen and (max-width: 450px) {

}